*/**/tempCodeRunnerFile.cpp

*/**/index

# ignore executables in advent of code
AdventOfCode/**/q1
AdventOfCode/**/q2

# ignore executables and degub output for leetcode comp
LeetCode/Competitions/*/q1
LeetCode/Competitions/*/q2
LeetCode/Competitions/*/q3
LeetCode/Competitions/*/q4
LeetCode/Competitions/*/q1.dSYM
LeetCode/Competitions/*/q2.dSYM
LeetCode/Competitions/*/q3.dSYM
LeetCode/Competitions/*/q4.dSYM

# ignore degub output
**/index.dSYM

node_modules

*/**/.DS_Store

index

.idea

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
